[submodule "vendor/wrap-region"]
	path = vendor/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
